{% extends 'base.html' %}

{% block main_content %}
<h3 style="text-align: center">New Transfer</h3>
    <div class="form-container">
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">Make transfer</button>
</form>
    </div>
{% endblock %}